body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: rgb(21, 150, 224);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: rgba(28, 5, 32, 0.562);
    font-weight: 700;
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;

    box-shadow: 10px 10px 30px gray;
    border-left: 7px solid red;
}
#full-stack-developer{
    border-left: 7px solid greenyellow;
}
#Junior-web-developer{
    border-left: 7px solid rgb(118, 14, 216);
}
footer p{
text-align: center;
}